<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.skij.dndcharacter" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".HomeScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CharacterScreen"
            android:label="@string/title_activity_character_screen"
            android:parentActivityName=".HomeScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.skij.dndcharacter.HomeScreen" />
        </activity>
        <activity
            android:name=".NewCharacter"
            android:label="@string/title_activity_new_character"
            android:parentActivityName=".HomeScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.skij.dndcharacter.HomeScreen" />
        </activity>
        <activity
            android:name=".LevelUp"
            android:label="@string/title_activity_level_up"
            android:parentActivityName=".CharacterScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.skij.dndcharacter.CharacterScreen" />
        </activity>
        <activity
            android:name=".Abilities"
            android:label="@string/title_activity_abilities"
            android:parentActivityName=".CharacterScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.skij.dndcharacter.CharacterScreen" />
        </activity>
        <activity
            android:name=".Stats"
            android:label="@string/title_activity_stats"
            android:parentActivityName=".CharacterScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.skij.dndcharacter.CharacterScreen" />
        </activity>
        <activity
            android:name=".Misc"
            android:label="@string/title_activity_misc"
            android:parentActivityName=".CharacterScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.skij.dndcharacter.CharacterScreen" />
        </activity>
        <activity
            android:name=".Temp"
            android:label="@string/title_activity_temp"
            android:parentActivityName=".CharacterScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.skij.dndcharacter.CharacterScreen" />
        </activity>
        <activity
            android:name=".HitPoints"
            android:label="@string/title_activity_hit_points"
            android:parentActivityName=".CharacterScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.skij.dndcharacter.CharacterScreen" />
        </activity>
        <activity
            android:name=".Weapons"
            android:label="@string/title_activity_weapons"
            android:parentActivityName=".CharacterScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.skij.dndcharacter.CharacterScreen" />
        </activity>
        <activity
            android:name=".NewWeapon"
            android:label="@string/title_activity_new_weapon"
            android:parentActivityName=".Weapons" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.skij.dndcharacter.Weapons" />
        </activity>
        <activity
            android:name=".EquipmentActivity"
            android:label="@string/title_activity_equipment"
            android:parentActivityName=".CharacterScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.skij.dndcharacter.CharacterScreen" />
        </activity>
        <activity
            android:name=".NewEquipment"
            android:label="@string/title_activity_new_equipment"
            android:parentActivityName=".EquipmentActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.skij.dndcharacter.EquipmentActivity" />
        </activity>
        <activity
            android:name=".DamageReduction"
            android:label="@string/title_activity_damage_reduction"
            android:parentActivityName=".CharacterScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.skij.dndcharacter.CharacterScreen" />
        </activity>
    </application>

</manifest>
